@using Blazorise.SpinKit
<Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
    <SpinKit Type="SpinKitType.Fold" Color="skyblue" />

</Div>
<Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
    <h4 style="color:gray">Powered by ERMO</h4>


</Div>

