@page "/resetforgottenpassword"

@using System.Globalization
@using System.Net.Http
@using Radzen
@using Radzen.Blazor
@using System.Linq.Dynamic.Core
@using Blazor_mac2c.Models
@using Blazor_mac2c.Endpoint
@using Blazor_mac2c.Contracts
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthenticationRepository _authRepo
@inject NavigationManager _navManager
@inject NotificationService NotificationService
@inject IPageProgressService PageProgressService
<h3>ResetForgottenPassword</h3>

@if (!response)
{
    <ErrorMessage Message="Something wrong with your form, please verifiy your token or email. Your password need to have captital letter, numbers and symnols" />
}
<div class="container my-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <RadzenTemplateForm TItem="ResetForgottenPasswordModel" Data=@model Submit=@ResetForgottenPasswordHandle>
                <RadzenFieldset Text="Please fill the form">            
                 
                    <div class="row mb-5">
                        <div class="col-md-4" style="align-self: center;">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col-lg-6">
                            <RadzenTextBox style="display: block" Name="Email" @bind-Value=@model.UserName Class="w-100"/>
                            <RadzenRequiredValidator Component="Email" Text="Email is required" Popup="true" Style="position: absolute" />
                        </div>                        
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-4" style="align-self: center;">
                            <RadzenLabel Text="New password" />
                        </div>                        
                        <div class="col-lg-6">
                            <RadzenPassword style="display: block" Placeholder="Need contain symbols (&,?...)" Name="Password" @bind-Value=@model.Password Class="w-100"/>
                            <RadzenRequiredValidator Component="Password" Text="Enter password" />
                        </div>                        
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-4" style="align-self: center;">
                            <RadzenLabel Text="Confirm new password" />
                        </div>
                        <div class="col-lg-6">
                            <RadzenPassword style="display: block" Name="PasswordConfirm" @bind-Value=@model.PasswordConfirm Class="w-100"/>
                            <RadzenRequiredValidator Component="PasswordConfirm" Text="Repeat your password" />
                            <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(model.PasswordConfirm)) Value=@model.Password Component="PasswordConfirm" Text="Passwords should be the same" Popup="true" Style="position: absolute" />
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-4" style="align-self: center;">
                            <RadzenLabel Text="Token that you received from Email" />
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="Token" @bind-Value=@model.Token Class="w-100"/>
                            <RadzenRequiredValidator Component="Token" Text="Enter Token" />
                        </div>
                    </div>   
                    <div class="row mb-5">
                        <div class="col"></div>
                        <div class="col-md-4" style="align-self: center;">
                            <RadzenButton style="display: block" ButtonType="Radzen.ButtonType.Submit" BusyText="Invoking ..." IsBusy=@busy Text="Submit"Class="w-100"ButtonStyle="ButtonStyle.Info" />
                        </div>
                    </div>  
                </RadzenFieldset>
            </RadzenTemplateForm>
        </div>
    </div>
</div>

@code {
    protected bool busy;
    protected bool response = true;
    ResetForgottenPasswordModel model = new ResetForgottenPasswordModel();
    protected async Task ResetForgottenPasswordHandle()
    {   
        busy = true;
        SetPageProgressIndeterminate();
        response = await _authRepo.ResetForgottenPassword(model);
        if (response)
        {
            busy = false ;            
            SetPageProgressHidden();

            NavigateToLoginPage();
        }
        else
        {
            NotificationMessage failure = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = $"Something wrong when trying to reset password of {model.UserName} ",
                    Detail = $"Something wrong when trying to reset password of {model.UserName}, please verify your token ",
                    Duration = 4000
                };
            NotificationService.Notify(failure);
            busy = false ;
            SetPageProgressHidden();
        }
    }
    protected void NavigateToLoginPage()
    {
            _navManager.NavigateTo("/");      
    }
    #region loading
    protected Task SetPageProgressIndeterminate()
    {
        return PageProgressService.Go(null, options => { options.Color = Color.Warning; });
    }
    protected Task SetPageProgressHidden()
    {
        return PageProgressService.Go(-1);
    }
    #endregion
}